
.tp-grlv_g {
  height: 30px !important
}

.three-debug.visible {
  transform: translate(0, 0);
}

.three-debug-nav {
  position: sticky;
  top: 0;
  display: flex;
  overflow-x: auto;
  background-color: #28292e !important;
  z-index: 1;
}

.nav-button {
  width: auto !important;
  padding-right: 6px !important;
  padding-left: 6px !important;
}

.selected {
  background: #bbb !important;
  color: #333 !important;
}

.hidden {
  display: none;
}
