* {
  --bs-br: 0px !important;
}

.three-debug {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  overflow-y: auto;
  z-index: 1000;
  transition: transform 300ms;
  transform: translate(110%, 0);
  background-color: #28292e;
}

.three-debug::-webkit-scrollbar {
  display: none;
}

.three-debug.visible {
  transform: translate(0, 0);
}

.three-debug-resizer {
  cursor: col-resize;
  position: sticky;
  bottom: 0;
  width: 6px;
  height: 100vh;
}

.three-debug-nav {
  position: sticky;
  top: 0;
  display: flex;
  overflow-x: auto;
  background-color: #28292e !important;
  z-index: 1;
}

.nav-button {
  width: auto !important;
  padding-right: 6px !important;
  padding-left: 6px !important;
}

.selected {
  background: #bbb !important;
  color: #333 !important;
}

.hidden {
  display: none;
}
