@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --bs-br: 0px !important;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.tp-grlv_g {
  height: 30px !important
}

.three-debug.visible {
  transform: translate(0, 0);
}

.three-debug-nav {
  position: sticky;
  top: 0;
  display: flex;
  overflow-x: auto;
  background-color: #28292e !important;
  z-index: 1;
}

.nav-button {
  width: auto !important;
  padding-right: 6px !important;
  padding-left: 6px !important;
}

.selected {
  background: #bbb !important;
  color: #333 !important;
}

/**
 * PCUI
 */

/* // container element */
.pcui-container {
  /* containers should be relative to each other */
  min-width: fit-content; /* this fixes a lot of flex / grid issues */
  min-height: fit-content; /* this fixes a lot of flex / grid issues */
}
.noSelect,
.pcui-label.pcui-selectable:hover {
  user-select: none;
}
.font-icon,
.pcui-treeview-item-icon:after,
.pcui-treeview-item:not(.pcui-treeview-item-empty) > .pcui-treeview-item-contents:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}
.font-icon,
.pcui-treeview-item-icon:after,
.pcui-treeview-item:not(.pcui-treeview-item-empty) > .pcui-treeview-item-contents:before {
  font-family: 'pc-icon';
}
.fixedFont,
.pcui-text-input > input {
  font-family: inconsolatamedium, Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
  font-weight: normal;
}
.pcui-container.pcui-resizable > .pcui-resizable-handle {
  position: absolute;
  z-index: 1000;
  opacity: 0.5;
  background-color: transparent;
}
.pcui-container.pcui-resizable > * {
  overflow: auto;
  max-height: 100%;
}
.pcui-container.pcui-resizable > .pcui-resizable-handle:hover {
  opacity: 1;
}
.pcui-container.pcui-resizable.pcui-resizable-resizing > .pcui-resizable-handle {
  opacity: 1;
}
.pcui-container.pcui-resizable.pcui-resizable-left > .pcui-resizable-handle, .pcui-container.pcui-resizable.pcui-resizable-right > .pcui-resizable-handle {
  top: 0;
  bottom: 0;
  width: 1px;
  height: auto;
  cursor: ew-resize;
}
.pcui-container.pcui-resizable.pcui-resizable-left > .pcui-resizable-handle {
  left: 0;
  border-left: 3px solid #202020;
}
.pcui-container.pcui-resizable.pcui-resizable-right > .pcui-resizable-handle {
  right: 0;
  border-right: 3px solid #202020;
}
.pcui-container.pcui-resizable.pcui-resizable-top > .pcui-resizable-handle, .pcui-container.pcui-resizable.pcui-resizable-bottom > .pcui-resizable-handle {
  left: 0;
  right: 0;
  width: auto;
  height: 1px;
  cursor: ns-resize;
}
.pcui-container.pcui-resizable.pcui-resizable-top > .pcui-resizable-handle {
  top: 0;
  border-top: 3px solid #202020;
}
.pcui-container.pcui-resizable.pcui-resizable-bottom > .pcui-resizable-handle {
  bottom: 0;
  border-bottom: 3px solid #202020;
}
.pcui-container-dragged {
  outline: 2px solid #fff;
  box-sizing: border-box;
  opacity: 0.7;
  z-index: 1;
}
.pcui-container-dragged-child {
  outline: 1px dotted #f60;
  box-sizing: border-box;
}
/* // Element styling */
@keyframes pcui-flash-animation {
  from {
    outline-color: #f60;
 }
  to {
    outline-color: rgba(255, 102, 0, 0);
 }
}
.pcui-element {
  border: 0 solid #aaa;
 /* // remove dotted border on focused elements in firefox */
}
.pcui-element.flash {
  outline: 1px solid #f60;
  -webkit-animation: pcui-flash-animation 200ms ease-in-out forwards;
  animation: pcui-flash-animation 200ms ease-in-out forwards;
}
.pcui-element:focus {
  outline: none;
}
.pcui-element::-moz-focus-inner {
  border: 0;
}
.pcui-label {
  display: inline-block;
  box-sizing: border-box;
  margin: 6px;
  vertical-align: middle;
  transition: opacity 100ms;
  color: #aaa;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}

.pcui-label.pcui-default-mousedown {
  user-select: initial;
}
.pcui-label.pcui-error {
  color: #d34141;
}
.pcui-label.pcui-selectable:hover {
  color: #f60;
  text-decoration: underline;
}
/* // placeholder */
.pcui-label[placeholder] {
  position: relative;
}
.pcui-label[placeholder]:after {
  content: attr(placeholder);
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 8px;
  color: #999;
  pointer-events: none;
}
.pcui-text-input {
  border-radius: 2px;
  min-height: 24px;
  height: 24px;
  background-color: #282828;
  vertical-align: top;
  transition: color 100ms, background-color 100ms, box-shadow 100ms;
  position: relative;
  color: #aaa;
}
.pcui-text-input > input {
  height: 100%;
  width: calc(100% - 16px);
  padding: 0 6px;
  line-height: 1;
  color: inherit;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}
.pcui-text-input:before {
  color: inherit;
}
/* // focus / hover states */
.pcui-text-input:not(.pcui-disabled):not(.pcui-readonly):hover {
  background-color: #202020;
  color: #fff;
}
.pcui-text-input:not(.pcui-disabled):not(.pcui-readonly):not(.pcui-error):hover {
  box-shadow: 0 0 2px 1px rgba(255, 102, 0, 0.3);
}
.pcui-text-input:not(.pcui-disabled):not(.pcui-readonly).pcui-focus {
  background-color: #202020;
  box-shadow: 0 0 0 1px rgba(255, 102, 0, 0.3);
}
.pcui-text-input.pcui-focus:after, .pcui-text-input:hover:after, .pcui-text-input.pcui-focus:before, .pcui-text-input:hover:before {
  display: none;
}
.pcui-text-input.pcui-readonly {
  background-color: rgba(40, 40, 40, 0.7);
  border-color: transparent;
}
.pcui-text-input.pcui-disabled {
  color: rgba(170, 170, 170, 0.5);
}
.pcui-text-input.pcui-error {
  color: #aaa;
  box-shadow: 0 0 0 1px #d34141;
}
.pcui-text-input[placeholder] {
  position: relative;
}
.pcui-text-input[placeholder]:after {
  content: attr(placeholder);
  background-color: #282828;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 8px;
  line-height: 22px;
  font-size: 10px;
  font-weight: 600;
  white-space: nowrap;
  color: #829193;
  pointer-events: none;
}
.pcui-treeview-item {
  position: relative;
  padding-left: 24px;
  height: max-content;
  min-width: max-content;
}
.pcui-treeview-item:before {
  content: '\00a0';
  position: absolute;
  background-color: #2e2e2e;
  width: 2px;
  left: 14px;
  top: -12px;
  bottom: 12px;
}
.pcui-treeview-item:last-child:before {
  height: 25px;
  bottom: auto;
}
.pcui-treeview-item.pcui-disabled > .pcui-treeview-item-contents > .pcui-treeview-item-text {
  opacity: 0.4;
}
.pcui-treeview-item-contents {
  position: relative;
  color: #aaa;
  margin-left: 3px;
  border: 1px solid transparent;
  align-items: center;
  height: 24px;
  box-sizing: border-box;
}
.pcui-treeview-item-contents:hover {
  cursor: pointer;
  color: #fff;
  background-color: #282828;
}
.pcui-treeview-item-contents:hover > .pcui-treeview-item-icon {
  color: #fff;
}
.pcui-treeview-item-icon {
  color: rgba(170, 170, 170, 0.5);
  margin: 0 2px 0 0;
  flex-shrink: 0;
}
.pcui-treeview-item-icon:before {
  content: '\00a0';
  position: absolute;
  background-color: #2e2e2e;
  left: -12px;
  top: 10px;
  width: 24px;
  height: 2px;
}
.pcui-treeview-item-icon:after {
  content: attr(data-icon);
  display: inline-block;
  vertical-align: sub;
  width: 22px;
  height: 22px;
  position: relative;
  z-index: 1;
  text-align: center;
}
.pcui-treeview-item-text {
  margin: 0;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  transition: opacity 100ms;
  padding-right: 8px;
  color: inherit;
}
.pcui-treeview-item-contents.pcui-treeview-item-selected {
  background-color: #202020;
  color: #fff;
}
.pcui-treeview-item-contents.pcui-treeview-item-selected > .pcui-treeview-item-icon {
  color: #fff;
}
.pcui-treeview-item:not(.pcui-treeview-item-empty) > .pcui-treeview-item-contents:before {
  content: '+';
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: #aaa;
  background-color: #4f4f5c;
  top: -1px;
  left: -23px;
  width: 14px;
  height: 14px;
  line-height: 14px;
  margin: 3px;
  cursor: pointer;
  z-index: 1;
}
.pcui-treeview-item:not(.pcui-treeview-item-empty).pcui-treeview-item-open > .pcui-treeview-item-contents:before {
  content: '−';
}
.pcui-treeview > .pcui-treeview-item {
  padding-left: 0;
}
.pcui-treeview > .pcui-treeview-item:before {
  content: none;
}
.pcui-treeview > .pcui-treeview-item > .pcui-treeview-item-contents {
  margin-left: 0;
}
.pcui-treeview > .pcui-treeview-item > .pcui-treeview-item-contents > .pcui-treeview-item-icon:before {
  content: none;
}
.pcui-treeview > .pcui-treeview-item > .pcui-treeview-item-contents > .pcui-treeview-item-icon:after {
  margin-left: 0;
}
.pcui-treeview > .pcui-treeview-item > .pcui-treeview-item {
  padding-left: 21px;
}
.pcui-treeview > .pcui-treeview-item > .pcui-treeview-item:before {
  left: 11px;
}
.pcui-treeview:not(.pcui-treeview-filtering) > .pcui-treeview-item .pcui-treeview-item:not(.pcui-treeview-item-open):not(.pcui-treeview-item-empty) > .pcui-treeview-item {
  display: none;
}
.pcui-treeview-item-dragged > .pcui-treeview-item-contents {
  background-color: rgba(40, 40, 40, .5);
  color: #fff;
}
.pcui-treeview-drag-handle {
  pointer-events: none;
  position: fixed;
  z-index: 4;
  margin-top: -1px;
  margin-left: -1px;
}
.pcui-treeview-drag-handle.before {
  margin-top: -2px;
  border-top: 4px solid rgba(255,255,255,0.5);
  padding-right: 8px;
}
.pcui-treeview-drag-handle.inside {
  border: 4px solid rgba(255,255,255,0.5);
}
.pcui-treeview-drag-handle.after {
  margin-top: 2px;
  border-bottom: 4px solid rgba(255,255,255,0.5);
  padding-right: 8px;
}
.pcui-treeview-item-contents:after {
  content: ' ';
  display: block;
  clear: both;
}
.pcui-treeview-item.pcui-treeview-item-rename > .pcui-treeview-item-contents > .pcui-treeview-item-text {
  display: none;
}
.pcui-treeview-item.pcui-treeview-item-rename > .pcui-treeview-item-contents > .pcui-text-input {
  margin: 0;
  flex-grow: 1;
  box-shadow: none !important;
  border: 0;
  background-color: transparent;
}
.pcui-treeview-item.pcui-treeview-item-rename > .pcui-treeview-item-contents > .pcui-text-input > input {
  font-family: inherit;
  font-size: 14px;
  padding: 0;
}
.pcui-treeview.pcui-treeview-filtering .pcui-treeview-item {
  padding-left: 0;
}
.pcui-treeview.pcui-treeview-filtering .pcui-treeview-item::before {
  display: none;
}
.pcui-treeview.pcui-treeview-filtering .pcui-treeview-item:not(.pcui-treeview-filtering-result) > .pcui-treeview-item-contents {
  display: none;
}
.pcui-treeview.pcui-treeview-filtering .pcui-treeview-item-contents {
  margin-left: 0;
}
.pcui-treeview-filtering-result .pcui-treeview-item-contents:before, .pcui-treeview-filtering-result .pcui-treeview-item-icon:before {
  display: none;
}
