@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --bs-br: 0px !important;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.tp-grlv_g {
  height: 30px !important
}

.tp-imgv {
  height: 20px !important;
  transition: 200ms !important;
}

.tp-imgv:hover {
  height: 80px !important;
}

.tp-rotv_c {
  height: 0 !important;
  padding: 0 !important;
  margin-top: 5px;
  width: 100% !important;
}

.stats .tp-rotv_c {
  height: auto !important
}

.orbit-controls-gizmo {
  position: absolute;
  top: 10px;
  left: -90px;
  z-index: 10;
}